@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  @theme inline {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

html, body {
  height: 100%;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
